#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display:flex;
  flex-direction: column;
}

.read-the-docs {
  color: #888;
}

#Query{
  display:flex;
  justify-content:center;
  border: 0 none white;
  overflow-y: auto;
  width: 1280px;;
  margin-bottom: 10px;
  font-size:x-large;
}

#QueryInput{
  display:flex;
  width:100%;
  height: 50vh;
  font-size:x-large;
}

#Button{
  display:flex;
  justify-content: flex-end;
  padding:10px;
  border-left:10px;
  border-right:10px;
}